<!doctype html>
                <html lang="en">
                  <head>
                      <link rel="stylesheet" href="/static/css/araxis.css">
                    <meta charset="utf-8">
                  </head>
                  <body>
                    <section class="product">
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">

        <img src="/static/img/suho_inzir.jpg" height="350">
      </div>

    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h1>Инжир отборый сушенный</h1>
      <span>150 Г</span>
    </div>
    <div class="price">
      ₽<span>172.50</span>
    </div>

    <div class="description">
      <h3>ПОЛЬЗА</h3>
      <ul>
        <li>Укрепление иммунной системы</li>
        <li>Снижение кровяного давления</li>
        <li>Отличный источник кальция</li>
        <li>Отличный источник железа и триптофана</li>
      </ul>
    </div>
    <div class="quantity">
          <button class="plus-btn" type="button" name="button">
            <img src="/static/img/butt_plus.png" height="20">
          </button>
          <input type="text" name="name" value="1">
          <button class="minus-btn" type="button" name="button">
            <img src="/static/img/butt_minus.png" height="20">
          </button>
        </div>
    <button class="buy--btn">В КОРЗИНУ</button>
  </div>
</section>


                  </body>
                </html>