<!doctype html>
                <html lang="en">
                  <head>
                      <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
                     <link rel="stylesheet" href="../static/css/korzina.css">
                    <meta charset="utf-8">
                    <title>Корзина</title>
                  </head>
                  <body style="background: #7BA7AB;">
<main class="page">
	 	<section class="shopping-cart dark">
	 		<div class="container">

		        <div class="content">
	 				<div class="row">
	 					<div class="col-md-12 col-lg-8">
	 						<div class="items">
				 				<div class="product">
				 					<div class="row">
					 					<div class="col-md-3">
					 						<img class="img-fluid mx-auto d-block image" src="assets/img/image.jpg">
					 					</div>
					 					<div class="col-md-8">
					 						<div class="info">
						 						<div class="row">
							 						<div class="col-md-5 product-name">
							 							<div class="product-name">
								 							<a href="#" style="color:#7BA7AB;">Изюм темный сушенный</a>
								 							<div class="product-info">
									 							<div>150Г</div>
									 						</div>
									 					</div>
							 						</div>

							 						<div class="col-md-3 price">
							 							₽<span>90.65</span>
							 						</div>
							 					</div>
							 				</div>
					 					</div>
					 				</div>
				 				</div>
				 				<div class="product">
				 					<div class="row">
					 					<div class="col-md-3">
					 						<img class="img-fluid mx-auto d-block image" src="assets/img/image.jpg">
					 					</div>
					 					<div class="col-md-8">
					 						<div class="info">
						 						<div class="row">
							 						<div class="col-md-5 product-name">
							 							<div class="product-name">
								 							<a href="#" style="color:#7BA7AB;">Фисташки жаренный соленые</a>
								 							<div class="product-info">
									 							<div>500Г</div>

									 						</div>
									 					</div>
							 						</div>

							 						<div class="col-md-3 price">
							 							₽<span>574.99</span>
							 						</div>
							 					</div>
							 				</div>
					 					</div>
					 				</div>
				 				</div>
				 				<div class="product">
				 					<div class="row">
					 					<div class="col-md-3">
					 						<img class="img-fluid mx-auto d-block image" src="assets/img/image.jpg">
					 					</div>
					 					<div class="col-md-8">
					 						<div class="info">
						 						<div class="row">
							 						<div class="col-md-5 product-name">
							 							<div class="product-name">
								 							<a href="#" style="color:#7BA7AB;">Арахис жаренный соленый</a>
								 							<div class="product-info">
									 							<div>500Г</div>
									 						</div>
									 					</div>
							 						</div>

							 						<div class="col-md-3 price">
							 							₽<span>198.75</span>
							 						</div>
							 					</div>
							 				</div>
					 					</div>
					 				</div>
				 				</div>
				 			</div>
			 			</div>
			 			<div class="col-md-12 col-lg-4">
			 				<div class="summary">
			 					<h3>ИТОГ</h3>
			 					<div class="summary-item"><span class="text">Предварительная цена</span><span class="price">₽360</span></div>
			 					<div class="summary-item"><span class="text">Скидка</span><span class="price">₽0</span></div>
			 					<div class="summary-item"><span class="text">Итог</span><span class="price">₽360</span></div>
			 					<button type="button" class="btn btn-primary btn-lg btn-block" style="background: #7BA7AB;">Оплатить</button>
				 			</div>
			 			</div>
		 			</div>
		 		</div>
	 		</div>
		</section>
	</main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                  </body>
                </html>